<%- contentFor('body') %>
<div class="main-error">
    <% if (isDev){ %>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
    <% } else { %>
        <h1><%= message %></h1>
    <% } %>
</div>