<%- contentFor('body') %>
<script src="//code.iconify.design/1/1.0.0-rc1/iconify.min.js"></script>
<div class="history-area history-small-text">
    <%for(var round in rounds){%>
    <div class="history-round">
        <div class="history-h-middle">
            <div><span class="iconify large-icon" data-icon="mdi-calendar-outline"></span></div>
            <div>
                <h2 class="vertical-align-middle"><%= "Round " + (parseInt(rounds[round].index)+1) %></h2>
            </div>
            <div>Total Points: <%=scores[rounds[round].index]%></div>
            <div><span class="iconify large-icon" style="color: gold" data-icon="mdi-rugby"
                                           title="Golden Try"></span></div>
                <div class="fb-column">
                    <div>Guess: <%=goldenTries[rounds[round].index]%></div>
                    <div>Result: <% const goldenTryResult = goldenTryResults[rounds[round].index]; if(goldenTryResult === 0 || goldenTryResult){%><%=goldenTryResult%><%}%></div>
                </div>

            </div>

            <% for(var date in games[round]) { const fixtures = games[round][date];%>
            <div class="fb-column">
                <div class="history-h-middle">
                    <h3><%=date%></h3>
                </div>

                <% for(var gameNum in fixtures){ let game = fixtures[gameNum];%>
                    <%- include common/history-game.ejs%>
                <% }%>
            </div>
            <% }%>
        <div style="min-height: 1em"></div>
    </div>
    <% }%>
</div>