< !DOCTYPE html > <html lang="en">

    <head>
        <link href="/stylesheets/home.css" media="only screen and (min-width : 740px)" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <title></title>
    </head>

    <body>

        <div class="navbar">
            <a href="" id="home">HOME</a>
            <a href="" id="play">PLAY SUPER 6</a>
            <a href="" id="about">ABOUT</a>
            <a href="" id="retults">RETULTS</a>
            <a href="" id="leader">LEADERBOARD</a>
            <label class="navright">USER: JHON ERWIN</label>
        </div>

        <div class="head-image">
            <div class="head-grad">

                <button class="open-button" onclick="openLogin()">LOGIN</button>
                <br/>
                <br/>
                <button class="open-button button-margin-bottom" onclick="openForm2()">REGISTER</button>

            </div>


            <div class="form-popup" id="myForm">
                <form action="/users/login" class="form-container">
                    <h1>Login</h1>
                    <label for="email">
                        <b>Email</b>
                    </label>
                    <input name="email" placeholder="Enter Email" required type="text">
                    <label for="psw">
                        <b>Password</b>
                    </label>
                    <input name="psw" placeholder="Enter Password" required type="password">

                    <button class="btn" type="submit">Login</button>
                    <button class="btn cancel" onclick="closeForm()" type="button">Close</button>
                </form>
            </div>

        </div>
        <div class="content-middle">
            <div class="col1">
                <div class="col-title">
                    <div class="col-title-grad">
                        <span class="col-title-span">Upcoming Fixtures</span>
                    </div>
                </div>
                <div class="col-fixtures">
                    <% games.forEach((game) => { %>
                    <div class="game-fixture">
                        <div class="fixture-teams">
                            <div class="team">
                                <div class="flag"><img src="/images/flags/<%= game.teamA.flag %>"></div>
                                <div class="team-name"><%= game.teamA.name %></div>
                            </div>
                            <div class="team">
                                <div class="flag"><img src="/images/flags/<%= game.teamB.flag %>"></div>
                                <div class="team-name"><%= game.teamB.name %></div>
                            </div>
                        </div>
                        <div class="fixture-date">
                            <%= game.gameDate %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>

            <div class="col2">
                <div class="col-title-grad">
                    <span class="col-title-span">how to play</span>
                </div>
                <div class="col-text">
                    <p>
                        blablabbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbbbbbbb bbbbbbbbbbbbbbbbbb bbbbbbbbbbb bbbbbb bbbbbbbbbbb
                                            bbbbbb bbbbbbbbbbbb bbbbbbbbbbbbb bbbbbbbbbbbbbbb bbbbbbbbbbbbbb bbbbbbbbbbbbbb bbbbbbbbbbbbb
                                            bbbbbbbbbbbbb
                                            bbbbbbbbbb b bbbbbbbbbbbbbbbbbbbb</p>

                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>


        <div class="footer-text">
            <a href="" id="Terms & Conditions">Terms & Conditions</a>
            <a href="" id="Privacy">Privacy and Cookie Notice</a>
            <a href="" id="Accesibility">Accesibility</a>
            <a href="" id="Contact us">Contact us</a>
        </div>

        <script>
            function openLogin() {
                document.getElementById("myForm").classList.add("show-form");
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
            function openForm2() {
                document.getElementById("myForm2").style.display = "block";
            }

            function closeForm2() {
                document.getElementById("myForm2").style.display = "none";
            }
        </script>

    </body>
</html>
