<!DOCTYPE html>
<html>

<head>
    <%- include common/head-items.ejs %>
    <title><%= title %></title>
    <link href="/stylesheets/play.css" media="only screen and (min-width : 740px)" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include common/header.ejs %>

    <!-- GAMES TABLE -->

    <div class="bet_area">

        <div class="game_row">
            <div class="column">Fixtures</div>
            <div class="column">Betting Area</div>
        </div>

        <!-- <% include common/games.ejs %> -->
        <% for (i = 0; i < 6; i++) { %>
        <div game_block game_block_<%=i%> class="game_row">
            <div class="column">
                <h2>TEAMA VS TEAMB</h2>
            </div>
            <div class="column">
                Team A tries: <input team_A_tries name="bock<%=i%>TeamATries" type="number" min="0" size="4">
                Team B tries: <input team_B_tries name="block<%=i%>TeamBTries" type="number" min="0" size="4"><br>
                Select Match Winner:<select game_1_winner name="Winner">
                    <option value="TEAM A">TEAM A</option>
                    <option value="TEAM B">TEAM B</option>
                </select>
            </div>
        </div>
        <% } %>
    </div>

    <div class="golden_try" class="game_row">
        <h2>Golden Try Prediction</h2> <input golden_try_input name="goldenTry" type="number" min="0" size="5">
    </div>

    <div class='place_bet_button'>
        <button onclick="placeBet()" type="button" id="bet_button">
            <h2>Place your Bets!</h2>
        </button>
    </div>

    <%- include common/footer.ejs %>
    <script src="/javascript/play.js"></script>
</body>

</html>
