<!DOCTYPE html>
<html>

<head>
    <%- include common/head-items.ejs %>
    <title><%= title %></title>
    <link href="/stylesheets/play.css" media="only screen and (min-width : 740px)" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/play-mobile.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include common/header.ejs %>

    <!-- GAMES TABLE -->

    <div class="bet_area bet_background">

        <div class="game_row">
            <div class="column">
                <h4>Fixtures</h4>
            </div>
            <div class="column">
                <h4>Betting Area</h4>
            </div>
        </div>

        <!-- <% include common/games.ejs %> -->
        <% for (let i = 0; i < games.length; i++) { %>
        <div game_block game_block_<%=i%> class="game_row">
            <div class="column">
                <%- include('common/fixture.ejs', {teamA: games[i].teamA, teamB: games[i].teamB}) %>
            </div>
            <div class="user_input_col">
                <p><%= games[i].teamA.name %> tries:
                    <input team_A_tries name="block<%=i%>TeamATries" type="number" min="0" size="4">
                    <br />
                    <%= games[i].teamB.name %> tries:
                    <input team_B_tries name="block<%=i%>TeamBTries" type="number" min="0" size="4"></p>
                <p>Select Match Winner:<select game_winner name="Winner">
                        <option value="TEAM A">TEAM A</option>
                        <option value="TEAM B">TEAM B</option>
                    </select></p>
            </div>
        </div>
        <% } %>
    </div>

    <% if (games.length > 0) { %>
    <div class="golden_try" class="game_row">
        <h2>Golden Try Prediction</h2> <input golden_try_input name="goldenTry" type="number" min="0" size="5">
    </div>
    <% } %>

    <div class='place_bet_button'>
        <% if (games.length > 0) { %>
        <button onclick="placeBet(<%= games[0].roundIndex %>, <%= games.length %>)" type="button" id="bet_button">
            <h2>Place your Bets!</h2>
        </button>
        <% } else { %>
        <button disabled type="button" id="bet_button">
            <h2>No games!</h2>
        </button>
        <% } %>
    </div>

    <%- include common/footer.ejs %>
    <script src="/javascript/play.js"></script>
</body>

</html>