<%- contentFor('body') %>
<% const defaultUserInfo = {firstName:'Anonymous', surname:'User', email:'who@knows.com', isAdmin:false, isActive:false}; %>
<% const u = typeof user === 'undefined' ? defaultUserInfo : user; %>
<% const games = response.games %>
<!-- Left Profile Bar -->

<div class="page_content">
    <div class="user_info_box">
        <div class="user_info_title">PROFILE INFO</div>
        <div class="avatar_image"><img src="https://education.fsu.edu/wp-content/uploads/2016/09/staff-avatar-man.png">
        </div>
        <div>
            <div class="profile_information">
                Name: <%= `${u.firstName} ${u.surname}` %><br>
                Email: <%= u.email %><br>
                <!-- If any bets exist -->
                <% if(response.totalBets) { %>
                    Total bets: <%= response.totalBets %><br>
                <% } else { %>
                    Total bets: 0 So far!
                <% } %>
                <!-- If any points exist -->
                <% if(response.totalPoints) { %>
                    Points: <%=response.totalPoints%><br>
                <% } else { %>
                    Points: 0 So far!
                <% } %>
            </div>
        </div>
    </div>

    <!-- Start of the Recent Bet Box -->
    <div class="user_bet_box">        
        <div class="user_info_title"><%= Object.keys(response.gameBets).length > 0 ? "Most Recent Bet" : "No bets yet placed" %></div>

        <% if (response.todaysDate < response.round[0].dateRange.start) { %> 
            <div class="round_starts">Round starts: <%= response.round[0].dateRange.start %></div>
        <% } else { %>
            <div class="round_starts">Round already started on: <%= response.round[0].dateRange.start %></div>
        <% }; %>

        <% if(Object.keys(response.gameBets).length > 0) { %>
        <div class="bet-area">
                <% for (let i = 0; i < response.games.length; ++i) { %>
                    <% const gameBet = response.gameBets[response.games[i]._id] %>
                    <div game_block game_block_<%=i%> game_id="<%= response.games[i]._id %>">
                    <div class="column"> 
                        <%- include('common/fixture.ejs', { teamA: response.games[i].teamA, teamB: response.games[i].teamB, gameBet, isBet: false, blockNumber: i }) %>
                    </div>
                    <div class="result_selection"> Winner Selection: <%= gameBet.winTeam %> </div>
                    <div class="result_bottom_border"></div>
                </div>
                <% } %>
        </div>
        <div class="bottom_elements">
            <h3>Golen Try Guess: <%=response.bets[0].goldenTry%></h3>

            <!-- Round Points to show if round end date has passed -->
            <% if (response.todaysDate > response.round[0].dateRange.end) { %>
                <h3>Round Points: <%= response.bets[0].points %></h3>
                <% }; %>

            <!-- Edit Bet Button  -->
            <% if (1) { %> <!-- TODO REMOVE AND REPLACE WITH LINE BELOW - TESTING ONLY -->
                <!-- response.todaysDate < response.round[0].dateRange.start  -->
                <button class="edit_bet_button" onclick="displayEditBetAlert(event)">Edit Bet</a></button>
                <% }; %> 

            <!-- Bet History Link -->
            <div class="show_more_bet_history">
                <h3><a href="/bets/history">Show Full History</a></h3>
            </div>
        </div>
        <!-- Delete Bet Alert Box -->
        <div class="edit_bet_alert" style="display: none;">
            <p>Are you sure you wish to continue?</p>
            <strong>Danger!</strong> Clicking yes will delete your current bet! 
            <div class="yes_no_select">
                <span class="closebtn" onclick="yesAlertSelect(response.bets[0]._id);">YES
                </span> <span class="back_out_btn" onclick= "noAlertSelect(event);">NO</span></div>
        </div>
        <% } %>
    </div> 
</div>

<script src="/javascript/profilePage.js"></script>
<script src="/javascript/play.js"></script>

<script>
    var betInformation = <%- JSON.stringify(response.gameBets) %>;
</script>