<%- contentFor('body') %>
<% const defaultUserInfo = {firstName:'Anonymous', surname:'User', email:'who@knows.com', isAdmin:false, isActive:false} %>
<% const u = typeof user === 'undefined' ? defaultUserInfo : user %>

<div class="page_content">
    <div class="user_info_box">
        PROFILE INFO
        <div class="avatar_image"><img src="https://education.fsu.edu/wp-content/uploads/2016/09/staff-avatar-man.png">
        </div>
        <div>
            <div class="profile_information">
                name: <%= `${u.firstName} ${u.surname}` %><br>
                email: <%= u.email %><br>
                Total bets: <%= response.totalBets %><br>
                Points: <%=response.totalPoints%><br>
            </div>
        </div>
    </div>
    <div class="user_history_box">        
        MOST RECENT BET
        <div class="bet_table">

            <% for (let index = 0; index < response.games.length; index++) { %>
                <div class="history_item" class="game_index_<%=index%>">
                    <% let currentGameId = response.games[index]._id %>
                    <% for (let k = 0; k < response.bets[0].gameBets.length; k++) { %>
                        <% if (response.bets[0].gameBets[k].id === currentGameId){ %>
                            <% var currentGameBetIndex = k; %> <!-- // Try and not use var here -->
                            <% }; %>
                        <% }; %>
                        <h5><%= response.games[index].teamA.name %> tries guess: <%= response.bets[0].gameBets[currentGameBetIndex].teamATries %></h5>
                        <h5><%= response.games[index].teamB.name %> tries guess: <%= response.bets[0].gameBets[currentGameBetIndex].teamBTries %></h5>
                        <h5>Win guess: <%= response.bets[0].gameBets[currentGameBetIndex].winTeam %></h5>
                        <h5>Points: <%=response.bets[0].gameBets[currentGameBetIndex].points%></h5>
                </div>
            <% } %>
        </div>
        <h5>Round Points: TODO</h5>
        <h5>Golen Try Guess: <%=response.bets[0].goldenTry%></h5>
        <div>Edit Bet</div>
        <div class="show_more_bet_history">
            <h6><a href="/bets/history">Show Full History</a></h6>
        </div>
    </div>
</div>
<!-- TODO!<br />
    <br />
    Include user information<br />
    This probably should look like a dashboard.<br />
    <br />
    Have a link to <a href="/bets/history">/bets/history</a>?-->