<%- contentFor('body') %>
<% const defaultUserInfo = {firstName:'Anonymous', surname:'User', email:'who@knows.com', isAdmin:false, isActive:false}; %>
<% const u = typeof user === 'undefined' ? defaultUserInfo : user; %>

<!-- Left Profile Bar -->

<div class="page_content">
    <div class="user_info_box">
        PROFILE INFO
        <div class="avatar_image"><img src="https://education.fsu.edu/wp-content/uploads/2016/09/staff-avatar-man.png">
        </div>
        <div>
            <div class="profile_information">
                name: <%= `${u.firstName} ${u.surname}` %><br>
                email: <%= u.email %><br>
                Total bets: <%= response.totalBets %><br>
                Points: <%=response.totalPoints%><br>
            </div>
        </div>
    </div>

    <!-- Start of the Recent Bet Box -->
    <div class="user_bet_box">        
        <div>MOST RECENT BET</div>

        <% if (response.todaysDate < response.round[0].dateRange.start) { %> 
            <div Round_starts>Round starts: <%= response.round[0].dateRange.start %></div>
        <% } else { %>
            <div Round_starts>Round already started on: <%= response.round[0].dateRange.start %></div>
        <% }; %>

        <div class="bet_table">
            <!-- Loop through the games to place into rows -->
            <% for (let index = 0; index < response.games.length; index++) { %>
                <div class="game_item game_index_<%=index%>">
                    <% let currentGameId = response.games[index]._id; %>
                    <!-- Loop through the gameBets, grabs the id and matches it to the currentGameId. -->
                    <% for (let k = 0; k < response.bets[0].gameBets.length; k++) { %>
                        <% if (response.bets[0].gameBets[k].id === currentGameId){ %>
                            <% var currentGameBetIndex = k; %> <!-- TODO Try and not use var here -->
                            <% }; %>
                        <% }; %>
                            <div><%= response.games[index].teamA.name %> : 
                                <div class="bets_text"><%= response.bets[0].gameBets[currentGameBetIndex].teamATries %></div>
                                <input class="bets_edit" style="display: none" type="number" value="<%= response.bets[0].gameBets[currentGameBetIndex].teamATries %>"></input>
                            </div>
                            <div><%= response.games[index].teamB.name %> :
                                <div class="bets_text"><%= response.bets[0].gameBets[currentGameBetIndex].teamBTries %></div>
                                <input class="bets_edit" style="display: none" type="number" value="<%= response.bets[0].gameBets[currentGameBetIndex].teamBTries %>"></input>
                            </div>
                            <div>Win guess:
                                <div class="bets_text"><%= response.bets[0].gameBets[currentGameBetIndex].winTeam %></div>
                                <select class="bets_edit" game_winner name="Winner" style="display: none" value="<%= response.bets[0].gameBets[currentGameBetIndex].winTeam %>">
                                        <option value="<%= response.games[index].teamA.name %>"><%= response.games[index].teamA.name %></option>
                                        <option value="<%= response.games[index].teamB.name %>"><%= response.games[index].teamB.name %></option>
                                        <option value="draw">Draw</option>
                                    </select>
                            </div>
                            <div> Points:
                                <% if (response.todaysDate > response.games[index].gameDate) { %>
                                    <div><%=response.bets[0].gameBets[currentGameBetIndex].points%></div>
                                <% } else { %>
                                    <div>No result yet</div>
                                    <% }; %>
                            </div>
                </div>
            <% } %> <!-- End of the game loops -->
        </div>

        <h5>Golen Try Guess: <%=response.bets[0].goldenTry%></h5>

        <!-- Round Points to show if round end date has passed -->
        <% if (response.todaysDate > response.round[0].dateRange.end) { %>
            <h5>Round Points: <%= response.bets[0].points %></h5>
            <% }; %>

        <!-- Edit Bet Button  -->
        <% if (response.todaysDate < response.round[0].dateRange.start) { %> 
            <button class="edit_bet_button" onclick="editTheBets(event)">Edit Bet</button>
            <button class="save_bet_button" onclick="saveTheBets(event)" style="display: none;">Save Bets</button>
            <% }; %>

        <!-- Bet History Link -->
        <div class="show_more_bet_history">
            <h6><a href="/bets/history">Show Full History</a></h6>
        </div>
    </div>
</div>
<script src="/javascript/profilePage.js"></script>