<% const _isBet = typeof isBet === 'undefined' ? false : isBet %>
<% const _blockNumber = typeof blockNumber === 'undefined' ? false : blockNumber %>
<% const _gameBet = typeof gameBet === 'undefined' ? null : gameBet %>
<% const _teamATries = !_gameBet ? null : _gameBet.teamATries %>
<% const _teamBTries = !_gameBet ? null : _gameBet.teamBTries %>

<div class="fixture-teams <%= _isBet ? 'writable' : 'read-only' %>"  is_writable="<%= _isBet ? 'true' : 'false' %>">
    <%- include('game.ejs', {team: teamA, isBet: _isBet, teamSide: 'A', teamTries: _teamATries, blockNumber: _blockNumber}) %>
    <div class="versus" team_draw_selector block_number="<%= _blockNumber %>">vs</div>
    <%- include('game.ejs', {team: teamB, isBet: _isBet, teamSide: 'B', teamTries: _teamBTries, blockNumber: _blockNumber}) %>
</div>