<div class="fb-column thin-border">
    <div class="fb-column" class="padding-5px">
        <div class="fb-row" class="padding-5px">
            <div class="fb-column" style="width: 100%;">
                <div class="text-align-center" class="padding-top-5px" style="background-color: black"><span class="iconify large-icon"
                                                                                                             data-icon="mdi-account-group" style="color: white" title="Team"></span></div>
                <div class="text-align-center history-small-text"><%=game.teamA.name%> </div>
                <div class="text-align-center"><img src="/images/flags/<%=game.teamA.flag%>" class="history-flag"></div>
                <div class="text-align-center">V</div>
                <div class="text-align-center history-small-text"><%=game.teamB.name%></div>
                <div class="text-align-center"><img src="/images/flags/<%=game.teamB.flag%>" class="history-flag"></div>
            </div>
            <div class="fb-row">
                <% let bet = bets[game._id];
                let result = results[game._id]; %>
                <div class="fb-column" >
                    <div class="history-game-header"><span class="iconify large-icon" data-icon="mdi-rugby" style="color: white"
                                                               title="Number of Tries"></span></div>
                    <div class="text-align-center history-large-text" style="height: 45%">
                        <% if (bet) {
                            let triesClass = "history-wrong";
                            if(result === undefined){
                                triesClass = "";
                            } else if(result && bet.teamATries === result.teamATries){
                                triesClass = "history-correct";
                            }%>
                        <span class="<%=triesClass%>"> <%= bet.teamATries%></span>
                        <%}%>
                    </div>
                    <div class="text-align-center history-large-text">
                        <% if (bet) {
                            let triesClass = "history-wrong";
                            if(result === undefined){
                                triesClass = "";
                            } else if(bet.teamBTries === result.teamBTries){
                                triesClass = "history-correct";
                            }%>
                        <span class="<%=triesClass%>"> <%= bet.teamBTries%></span>
                        <%}%>
                    </div>
                </div>
                <div class="fb-column">
                    <div class="history-game-header">
                        <span class="iconify large-icon" data-icon="mdi-trophy" style="color: white;"  title="Winning Team"></span>
                    </div>
                    <div class="text-align-center" style="min-height: 40%">
                        <% if(bet) {
                            let teamA = game.teamA.name;
                        if(result === undefined && bet.winTeam === teamA){%>
                            <span class="iconify large-icon" data-icon="mdi-medal"></span>
                        <% }
                        else if(result && bet.winTeam === teamA && result.winTeam === teamA){%>
                            <span class="iconify large-icon history-correct"
                                  data-icon="mdi-medal"></span>
                        <%}
                        else if(result && bet.winTeam === teamA){%>
                            <span class="iconify large-icon history-wrong"
                                  data-icon="mdi-medal"></span>
                        <%}%>
                        <%}%>
                    </div>
                    <div class="text-align-center" style="min-height: 40%;">
                        <% if(bet) {
                            let teamB = game.teamB.name;
                        if(result === undefined && bet.winTeam === teamB){
                        %><span class="iconify large-icon" data-icon="mdi-medal"></span><%
                        }
                        else if(result && bet.winTeam === teamB && result.winTeam === teamB){
                        %><span class="iconify large-icon history-correct"
                                data-icon="mdi-medal"></span><%
                        } else if(result && bet.winTeam === teamB){
                        %><span class="iconify large-icon history-wrong" data-icon="mdi-medal"></span><%
                        }
                        }%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>